# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env*

# Node modules
node_modules/
broadcast/*
script/execute_v4_functions.sh
script_use_v4/execute_*
script/1*
